<div class="sidenav">
  <div class="sidenav-header">
    <div class="mt-3">
      <span class="text-center">Dashboard</span>
      <button class="menu-btn" (click)="hello()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>
  <hr />
  <div class="sidenav-menus">
    <ul class="mt-4">
      <p class="nav-body-header">MAIN</p>
      <li class="nav-item">
        <i class="fa-solid fa-house default"></i>
        <span class="link-title">Dashboard</span>
      </li>
    </ul>
  </div>
  <div class="sidenav-menus">
    <ul class="mt-4">
      <p class="nav-body-header">WEB APPS</p>
      <button
        class="btn btn-toggle rounded"
        data-bs-toggle="collapse"
        data-bs-target="#email-menu"
        aria-expanded="false"
        (click)="toggleEmailMenu()"
      >
        <li class="nav-item">
          <i class="fa-solid fa-envelope margin-icon"></i>
          <span class="link-title-2">Email</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-down link-arrow"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </li>
      </button>
      <div class="collapse" id="email-menu">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 show">
          <li><a href="#" class="link-dark rounded">Inbox</a></li>
          <li><a href="#" class="link-dark rounded">Read</a></li>
          <li><a href="#" class="link-dark rounded">Compose</a></li>
        </ul>
      </div>
      <button class="btn btn-toggle rounded">
        <li class="nav-item">
          <i class="fa-solid fa-comment margin-icon"></i>
          <span class="link-title-2">Chat</span>
        </li>
      </button>
      <button class="btn btn-toggle rounded">
        <li class="nav-item">
          <i class="fa-solid fa-calendar margin-icon"></i>
          <span class="link-title-2">Calendar</span>
          <span href="#" class="badge badge-primary">Event</span>
        </li>
      </button>
    </ul>
  </div>
  <ul class="mt-4">
    <p class="nav-body-header">COMPONENTS</p>
    <button
      class="btn btn-toggle rounded"
      data-bs-toggle="collapse"
      data-bs-target="#email-menu"
      aria-expanded="false"
      (click)="toggleUiMenu()"
    >
      <li class="nav-item">
        <i class="fa-solid fa-pen-nib margin-icon"></i>
        <span class="link-title-2">UI Kit</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down link-arrow"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </li>
    </button>
    <div class="collapse" id="ui-menu">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 show">
        <li><a href="#" class="link-dark rounded">Inbox</a></li>
        <li><a href="#" class="link-dark rounded">Read</a></li>
        <li><a href="#" class="link-dark rounded">Compose</a></li>
      </ul>
    </div>
    <button
      class="btn btn-toggle rounded"
      data-bs-toggle="collapse"
      data-bs-target="#email-menu"
      aria-expanded="false"
      (click)="toggleAdvanceUiMenu()"
    >
      <li class="nav-item">
        <i class="fa-solid fa-anchor margin-icon"></i>
        <span class="link-title-2">Advanced UI</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down link-arrow"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </li>
    </button>
    <div class="collapse" id="advanceUi-menu">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 show">
        <li><a href="#" class="link-dark rounded">Inbox</a></li>
        <li><a href="#" class="link-dark rounded">Read</a></li>
        <li><a href="#" class="link-dark rounded">Compose</a></li>
      </ul>
    </div>
    <button
      class="btn btn-toggle rounded"
      data-bs-toggle="collapse"
      data-bs-target="#email-menu"
      aria-expanded="false"
      (click)="toggleFormsMenu()"
    >
      <li class="nav-item">
        <i class="fa-brands fa-wpforms margin-icon"></i>
        <span class="link-title-2">Forms</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down link-arrow"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </li>
    </button>
    <div class="collapse" id="forms-menu">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 show">
        <li><a href="#" class="link-dark rounded">Inbox</a></li>
        <li><a href="#" class="link-dark rounded">Read</a></li>
        <li><a href="#" class="link-dark rounded">Compose</a></li>
      </ul>
    </div>
    <button
      class="btn btn-toggle rounded"
      data-bs-toggle="collapse"
      data-bs-target="#email-menu"
      aria-expanded="false"
      (click)="toggleChartsMenu()"
    >
      <li class="nav-item">
        <i class="fa-solid fa-chart-simple margin-icon"></i>
        <span class="link-title-2">Charts & graphs</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down link-arrow"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </li>
    </button>
    <div class="collapse" id="charts-menu">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 show">
        <li><a href="#" class="link-dark rounded">Inbox</a></li>
        <li><a href="#" class="link-dark rounded">Read</a></li>
        <li><a href="#" class="link-dark rounded">Compose</a></li>
      </ul>
    </div>
    <button
      class="btn btn-toggle rounded"
      data-bs-toggle="collapse"
      data-bs-target="#email-menu"
      aria-expanded="false"
      (click)="toggleTablesMenu()"
    >
      <li class="nav-item">
        <i class="fa-solid fa-table margin-icon"></i>
        <span class="link-title-2">Tables</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down link-arrow"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </li>
    </button>
    <div class="collapse" id="tables-menu">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 show">
        <li><a href="#" class="link-dark rounded">Inbox</a></li>
        <li><a href="#" class="link-dark rounded">Read</a></li>
        <li><a href="#" class="link-dark rounded">Compose</a></li>
      </ul>
    </div>
    <button
      class="btn btn-toggle rounded"
      data-bs-toggle="collapse"
      data-bs-target="#email-menu"
      aria-expanded="false"
      (click)="toggleIconsMenu()"
    >
      <li class="nav-item">
        <i class="fa-solid fa-face-smile margin-icon"></i>
        <span class="link-title-2">Icons</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down link-arrow"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </li>
    </button>
    <div class="collapse" id="icons-menu">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 show">
        <li><a href="#" class="link-dark rounded">Inbox</a></li>
        <li><a href="#" class="link-dark rounded">Read</a></li>
        <li><a href="#" class="link-dark rounded">Compose</a></li>
      </ul>
    </div>
  </ul>
  <ul class="mt-4">
    <p class="nav-body-header">PAGES</p>
    <button
      class="btn btn-toggle rounded"
      data-bs-toggle="collapse"
      data-bs-target="#email-menu"
      aria-expanded="false"
      (click)="toggleSpecialPagesMenu()"
    >
      <li class="nav-item">
        <i class="fa-sharp fa-regular fa-file margin-icon"></i>
        <span class="link-title-2">Special Pages</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down link-arrow"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </li>
    </button>
    <div class="collapse" id="pages-menu">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 show">
        <li><a href="#" class="link-dark rounded">Inbox</a></li>
        <li><a href="#" class="link-dark rounded">Read</a></li>
        <li><a href="#" class="link-dark rounded">Compose</a></li>
      </ul>
    </div>
    <button
      class="btn btn-toggle rounded"
      data-bs-toggle="collapse"
      data-bs-target="#email-menu"
      aria-expanded="false"
      (click)="toggleAuthMenu()"
    >
      <li class="nav-item">
        <i class="fa-solid fa-unlock margin-icon"></i>
        <span class="link-title-2">Authentication</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down link-arrow"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </li>
    </button>
    <div class="collapse" id="auth-menu">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 show">
        <li><a href="#" class="link-dark rounded">Inbox</a></li>
        <li><a href="#" class="link-dark rounded">Read</a></li>
        <li><a href="#" class="link-dark rounded">Compose</a></li>
      </ul>
    </div>
    <button
      class="btn btn-toggle rounded"
      data-bs-toggle="collapse"
      data-bs-target="#email-menu"
      aria-expanded="false"
      (click)="toggleErrorMenu()"
    >
      <li class="nav-item">
        <i class="fa-solid fa-circle-exclamation margin-icon"></i>
        <span class="link-title-2">Error</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down link-arrow"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </li>
    </button>
    <div class="collapse" id="error-menu">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 show">
        <li><a href="#" class="link-dark rounded">Inbox</a></li>
        <li><a href="#" class="link-dark rounded">Read</a></li>
        <li><a href="#" class="link-dark rounded">Compose</a></li>
      </ul>
    </div>
  </ul>
  <ul class="mt-4">
    <p class="nav-body-header">PAGES</p>
    <button
      class="btn btn-toggle rounded"
      data-bs-toggle="collapse"
      data-bs-target="#email-menu"
      aria-expanded="false"
      (click)="toggleDocsMenu()"
    >
      <li class="nav-item">
        <i class="fa-solid fa-hashtag margin-icon"></i>
        <span class="link-title-2">Documentation</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down link-arrow"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </li>
    </button>
    <div class="collapse" id="docs-menu">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 show">
        <li><a href="#" class="link-dark rounded">Inbox</a></li>
        <li><a href="#" class="link-dark rounded">Read</a></li>
        <li><a href="#" class="link-dark rounded">Compose</a></li>
      </ul>
    </div>
  </ul>
</div>

<div class="main-body">
  <app-header></app-header>
  <div class="body-container">
    <h4 class="p-3">Welcome to Dashboard</h4>
    <div class="spacer"></div>
    <div class="date-input-wrapper margin-icon-header">
      <i class="date-icon fas fa-calendar"></i>
      <input type="date" class="date-input form-control" />
    </div>
    <button class="print-report margin-icon-header">Print Report</button>
    <button class="download-report margin-icon-header">
      <i class="fa-solid fa-download"></i>
      Download Report
    </button>
  </div>
  <br />
  <div class="row">
    <div class="d-flex">
      <div class="m-2 card card-padding">
        <div class="row">
          <div class="col">
            <h5>NEW CUSTOMERS</h5>
            <h6 class="pt-2">3,897</h6>
            <span class="pt-2 market-green">
              +3.3% <i class="fa-solid fa-arrow-up"></i>
            </span>
          </div>
          <div class="col">
            <div>
              <canvas
                baseChart
                [datasets]="chart.datasets"
                [labels]="chart.labels"
                [options]="chart.options"
                [legend]="chart.legend"
                [type]="'line'"
                width="90px"
                height="40px"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="m-2 card card-padding">
        <div class="row">
          <div class="col">
            <h5>NEW ORDERS</h5>
            <h6 class="pt-2">35,084</h6>
            <span class="pt-2 market-red">
              -2.8% <i class="fa-solid fa-arrow-down"></i>
            </span>
          </div>
          <div class="col">
            <div>
              <canvas
                baseChart
                [datasets]="newOrders.datasets"
                [labels]="newOrders.labels"
                [options]="newOrders.options"
                [legend]="newOrders.legend"
                [type]="'bar'"
                width="90px"
                height="40px"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="m-2 card card-padding">
        <div class="row">
          <div class="col">
            <h5>GROWTH</h5>
            <h6 class="pt-2">89.87%</h6>
            <span class="pt-2 market-green">
              +2.8% <i class="fa-solid fa-arrow-up"></i>
            </span>
          </div>
          <div class="col">
            <div>
              <canvas
                baseChart
                [datasets]="growthChart.datasets"
                [labels]="growthChart.labels"
                [options]="growthChart.options"
                [legend]="growthChart.legend"
                [type]="'line'"
                width="90px"
                height="40px"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="revenue-container pt-4">
    <h6 class="revenue">REVENUE</h6>
    <p class="revenue-description pt-3 text-muted">
      Revenue is the income that a business has from its normal business
      activities, usually from the sale of goods and services to customers.
    </p>
    <div class="col-md d-flex justify-content-md-end">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary">Today</button>
        <button type="button" class="btn btn-outline-primary d-none d-md-block">
          Week
        </button>
        <button type="button" class="btn btn-outline-primary btn-primary text-white" >Month</button>
        <button type="button" class="btn btn-outline-primary">Year</button>
      </div>
    </div>
    <div>
      <canvas
        baseChart
        [datasets]="revenueChart.datasets"
        [labels]="revenueChart.labels"
        [options]="revenueChart.options"
        [legend]="revenueChart.legend"
        [type]="'line'"  style="width: 100%; height: 400px;"
      ></canvas>
    </div>
  </div>
  <div class="monthly-container pt-5">
    <h6 class="monthly">MONTHLY SALES</h6>
    <p class="monthly-description pt-3 text-muted">
      Sales are activities related to selling or the number of goods or services sold in a given time period.
    </p>
    <div class="row">
      <div class="col" style="width: 100%; height: 400px;">
        <canvas
          baseChart
          [datasets]="monthlyChart.datasets"
          [labels]="monthlyChart.labels"
          [options]="monthlyChart.options"
          [legend]="monthlyChart.legend"
          [type]="'bar'"  
        ></canvas>
      </div>
      <div class="col" >
        <canvas
        baseChart
        [datasets]="cloudChart.datasets"
        [labels]="cloudChart.labels"
        [options]="cloudChart.options"
        [legend]="cloudChart.legend"
        [type]="'doughnut'" width="100px" height="90px"  
        >
        </canvas>
      </div>
    </div>
  </div>
  
</div>
